#ifndef TOPPERS_OMIT_TECS
INCLUDE("tecsgen.cfg");
#else /* TOPPERS_OMIT_TECS */
INCLUDE("syssvc/syslog.cfg");
INCLUDE("syssvc/banner.cfg");
INCLUDE("syssvc/serial.cfg");
INCLUDE("syssvc/logtask.cfg");
#endif /* TOPPERS_OMIT_TECS */

#include "ex1.h"

CRE_TSK(TASK1, { TA_ACT, 1, task, MID_PRIORITY, STACK_SIZE, NULL });

